[user]
    name = Evan Jones
    email = evan.q.jones@gmail.com
[core]
    editor = "vim"
[alias]
    sub = "!sh -c 'REPL=$1; shift; vim $(git grep --name-only -Ee\"$0\" $@) -c\"bufdo %s/\\v$(echo \"$0\" | sed '\\''s/\\[\\[:<:\\]\\]/</g; s/\\[\\[:>:\\]\\]/>/g'\\'')/$REPL/gc\"'"
    log-graph = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit"
[diff]
    submodule = log
    color = 1
[push]
    default = nothing
